<%- include("./partials/header.ejs") %>

<%- include("./partials/navbar.ejs") %>
<body>
    <div class="container">
        <hr>
            <h1>Perguntas</h1>
            <hr>
            <a href="/ask" class="btn btn-primary"> Perguntar </a>
            <hr>
        <% quests.forEach(quest => { %>
            <br>
            <div class="card">
                <div class="card-body">
                   <h3> <%= quest.title %>  </h3> 
                   <br>
                   <h6><%= quest.created %></h6> 
                </div>
                <div class="card-footer">
                  <a href="/quest/<%=quest._id%>"> <button class="btn btn-primary"> Responder </button> </a> 
                </div>
            </div>

       <% }) %>
    </div>
</body>

<%- include("./partials/footer.ejs") %>

